
*.toc
*.pkg
*.pyz
*.zip
*.manifest
build/(TKINTER) Identificando tipos de triângulo/warn-(TKINTER) Identificando tipos de triângulo.txt
build/(TKINTER) Identificando tipos de triângulo/xref-(TKINTER) Identificando tipos de triângulo.html
__pycache__/(TKINTER) Identificando tipos de triângulo.cpython-39.pyc
(TKINTER) Identificando tipos de triângulo.spec
